/** {
    border: 1px solid red !important;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}*/

html, body {
   height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    color: #525f6b;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#container {
   display: flex;
   min-height: 100%;
}

main {
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: #F57C00;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #01579B;
  text-decoration: underline;
}

label {
  display: block;
  font-size: 20px;
  padding-bottom: 10px;
  padding-left: 5px;
}

/*
 * Grid
 */

.grid {
  margin: 0 auto;
  /*max-width: 1200px;*/
  width: 100%;
}

.row {
  width: 100%;
  margin-bottom: 20px;
  /*display: flex;*/
}

.col-12 {
    width: 100%;
}

.col-11 {
    width: 91.66667%;
}

.col-10 {
    width: 83.33333%;
}

.col-9 {
    width: 75%;
}

.col-8 {
    width: 66.66667%;
}

.col-7 {
    width: 58.33333%;
}

.col-6 {
    width: 50%;
}

.col-5 {
    width: 41.66667%;
}

.col-4 {
    width: 33.33333%;
}

.col-3 {
    width: 25%;
}

.col-2 {
    width: 16.66667%;
}

.col-1 {
    width: 8.33333%;
}

/*
 * Form
 */

.form-control {
  display: block;
  width: 90%;
  height: 20px;
  padding: 6px 12px;
  font-size: 16px;
  color: #555;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-control:focus {
  border-color: #89cada;
  outline: 0;
}

.form-group {
  margin-bottom: 15px;
}

textarea.form-control {
  height: 400px;
}


/*
**/

.page-header {
    margin-bottom: 10px;
}

#title-list {
    max-height: 90vh;
    overflow: scroll;
    padding: 2px;
}

#titles {
    z-index: 10000;
    position: absolute;
    top: 183px;
    background: white;
    transition-duration: 0.3s;
    left: 8px;
    width: 300px;
}

#titles.off {
    left: -300px;
}

#map {
    /*height: 100vh;*/
    height: 700px;
    /*height: 100%;*/
    /*width: 100%;*/
}

.list-group-item {
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.list-group-item:hover,
.list-group-item:active,
.list-group-item:focus {
  z-index: 2;
  color: #fff;
  background-color: #005f83;
  border-color: #005f83;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.panel-body {
  padding: 15px;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}
.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
  color: inherit;
}

.panel-info {
  border-color: #bce8f1;
}
.panel-info > .panel-heading {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.poster_image {
    height: 200px;
}

.media {
  margin-top: 15px;
}
.media:first-child {
  margin-top: 0;
}
.media,
.media-body {
  overflow: hidden;
  zoom: 1;
}
.media-body {
  width: 10000px;
}
.media-object {
  display: block;
}
.media-object.img-thumbnail {
  max-width: none;
}
.media-right,
.media > .pull-right {
  padding-left: 10px;
}
.media-left,
.media > .pull-left {
  padding-right: 10px;
}
.media-left,
.media-right,
.media-body {
  display: table-cell;
  vertical-align: top;
}
.media-middle {
  vertical-align: middle;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-white {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, .125);
}
.btn-white:hover,
.btn-white:focus,
.btn-white:active {
  color: #fff;
  background: #005f83;
  border: 1px solid #005f83;
}

.actor-list {
    list-style: none;
}

section {
    margin-top: 20px;
}

/*
 Inspired by http://www.cssportal.com/blog/css-slide-in-menu/
**/

input[type=checkbox] {
   position: absolute;
   opacity: 0;
}
label {
   position: absolute;
   top: 0;
   left: 25px;
   z-index: 1;
   display: block;
   font-size:3em;
   color: #444;
   cursor: pointer;
   transform: translate3d(0, 0, 0);
   transition: transform .4s;
}
input[type=checkbox]:checked ~ label {
   transform: translate3d(250px, 0, 0) rotate(90deg);
}
.content {
   width:100%;
   padding: 40px;
   background: #f2f2f2;
   transform: translate3d(0, 0, 0);
   transition: transform .4s;
}
input[type=checkbox]:checked ~ .content {
   transform: translate3d(250px, 0, 0);
}
input[type=checkbox]:checked ~ .slide-menu {
   transform: translate3d(0, 0, 0);
}
input[type=checkbox]:checked ~ .slide-menu .menu li {
   width: 100%;
}
.slide-menu {
   transform: translate3d(-250px, 0, 0);
   position: absolute;
   width: 250px;
   background: #89cada;
   left: 0;
   height: 100%;
   transition: all .4s;
}
.slide-menu h1 {
   margin: 10px;
}

/*
  Breakpoints
**/

@media screen and (max-width: 475px) {
    h1 {
        font-size: 1.5em;
    }
    #titles {
        top: 233px;
    }
    #title-list {
      /*max-height: 290px;*/
      max-height: 90vh;
    }
    #map {
      height: 70vh;
    }
    .poster_image {
      height: 100px;
    }
}

